<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style type="text/css">

        body {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
          font-weight: 400;
        }
    h2{
      font-size: 1.5em;
      font-weight: 600;
      margin: 24px 0 16px;
      padding-bottom: 0.3em;
      border-bottom: 1px solid #eaeaea;
    }
    p {
      font-size: .875rem;
    }
        code, pre {
          font-family: monospace;
          border: 1px solid #ccc;
          background: #dfdfdf;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
    $(function() {
      $('input[type=checkbox]').on('change', function() {
        $(this).parent().css('color', $(this).prop('checked') ? '#666666' : '#000000');
      });
    });

    window.check_all = function(state) {
      document.querySelectorAll('input[type=checkbox]').forEach((a)=>{a.checked=false});
    };
    window.begin=function(uid){
      check_all(false);
      document.querySelectorAll('input[name^=sec_'+uid.toString()+']').forEach((a)=>{a.checked=false});
    };
    </script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ body }}
  </body>
</html>
